/* LIMPAR FORMATAÇÃO PADRÃO DOS NAVEGADORES*/
*{
	margin: 0;
	padding: 0;
}
/*
*** FORMATAÇÃO GERAL DA PÁGINA ***
*/
body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

/*
*** LAYOUT DE CABEÇALHO ***
*/
#area-cabecalho{
	font-size: 2.5em;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	width: auto;
	line-height:auto;
	padding: 30px 0px; 
	margin: 0px 200px;
	background-color:  #339966;
}

#area-menu{
	background-color: white;
	width: auto;
	text-align: center;
	margin-top: 50px;
	padding: 0px 30px;
	border: 4px solid #339966;
}

#area-geral{

}

#area-filtros{
	float: left;
	background-color: white;
	width: 150px;
	text-align: left;
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 25px;
	padding: 10px 10px;
	border-color: #339966;
	border-top-style: solid; 
	border-top-width: 10px;
	text-align: left;

}

#area-catalogo{
	float: right;
	border: 10px solid red;
	margin-top: 50px;
	margin-right:200px;
	margin-left: 25px;
	width: auto;

}

.botao{
	background:#339966;
	padding: 50px;
}

.botao:hover{
	background: white;
	border: 2px solid #339966;
	padding: 50px;
}

.titulo{
	color: #339966;
	padding: 10px 0px;
}

.titulo-filtro{
	font-style: italic;
	background: #f1f1f1;
	color: #339966;
	padding: 7px 0px;
}

/*
*** Formatação do menu ***
*/

.link{
	font-size: 1.2em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: none;
}
.link:link, .link:visited {
	color: white;
}
.link:hover{
	color: #339966;	
}

.linkhome{
	font-size: 1.2em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: none;
}
.linkhome:link, .linkhome:visited {
	color: white;
}
.linkhome:hover{
	color: white;	
}

.filtro{
	font-size: 0.9em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px 0px;

}

.espacamento-filtros{
	margin: 10px 10px;
	border-width: 1px;
	border-color: #339966;
	border-style: dotted none none none;
}

h1{
	color: #339966;
	font-size: 1.5em;
}

input[type=checkbox]{
	padding:5px 10px;
}